// size
$content-size: 12px;
$title-size: 16px;

$content-line-height: 1.5;
$font-family: system, -apple-system, ".SFNSDisplay-Regular", "PingfangSC", "Source Han Sans", Roboto, Helvetica, Arial, sans-serif;


// color
$black: #494949;
$white: #ffffff;

$gray: #5c5c5c;
$smoke: #e4e4e4;
$green: #46A68F;
$red: #e02613;
$blue: #2185d0;
