@import '~common/css/variables.scss';


.view-map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}

.map-kits {
  position: absolute;
  z-index: 500;
  right: 10px;
  top: 10px;
  background-color: $white;
  border: 1px solid $smoke;
  font-size: $content-size;
  list-style: none;

  .map-kit-item {
    cursor: pointer;
    padding: 10px 15px;

    &:hover, &.active {
      color: $white;
      background-color: $blue;
    }
  }
}